*{
    padding: 0;
    margin: 0;
    overflow-y:hidden;
}

.container{
    display: flex;
    width: 100%;
    height: 27%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #138741;
}
.backCards{
    margin-left: 2%;
}
.backCards2{
    margin-right: 2%;
}
.campo{
    display: flex;
    width: 100%;
    height: 46%;
    justify-content: center;
}
.playTable{
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 26%;
    padding-right: 26%;
    flex-flow: wrap;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background: #138741;
}
.cardSpot{
    margin: 0 50px;
    width: 170px;
    height: 218px;
    border: 2px dashed #ffffff;
    box-sizing: border-box;
    border-radius: 19px;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    width: 91px;
    height: 91px;
    background: #6CA683;
    border-radius: 90%;
    position: relative;
    padding: 10;
}
.img2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    width: 91px;
    height: 91px;
    background: #6CA683;
    border-radius: 90%;
    position: relative;
    padding: 10;
}
.retNames1{
    position: absolute;
    margin-left: 85%;
    width: 187px;
    height: 69px;
    margin-top: 4%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cutive', serif;
    font-size: 160%;
}

.retNames2{
    position: absolute;
    width: 187px;
    height: 69px;
    margin-top: 4%;
    margin-left: 5%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cutive', serif;
    font-size: 160%;
}
.HAND{
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #138741;
}
.handCards{
    margin-left: 5px;
    margin-right: 5px;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    border-radius: 19px;
    background: pink;
}
.handCards:hover{
    transform: translateY(-10px);
}
.cartaPosizionata{

}
.containerDadi{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width: 20%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
}
.diceWrapper{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.btnDadi{
    border-radius: 5px;
    margin-top: 10px;
    background-color: #e92e3d;
    width: 35%;
    height: 20%;
    
}
.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}
